@font-face {
    font-family: "Lato-Bold";
    src: url("/Assets/Project3_assets/fonts/Lato-Bold.ttf");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("/Assets/Project3_assets/fonts/Lato-Regular.ttf");
}

$colors:(primary: white,
    secondary: rgb(107, 50, 153),
    ocassion__bgc: rgb(35, 35, 44),
    hr__c:rgb(110, 54, 155),
    btn__color: rgb(45,22,65),
    articles__bgc: rgb(222,226,242),
    article_h:rgb(35,35,44),
    article_txt: rgb(45,22,65),
    footer__txt: rgb(204,204,204)
    );
$font__lato:(L_bold:"Lato-Bold",
    L_regular:"Lato-Regular"
);
$fontsizes:(caption:0.9em,
    smol:1em,
    med:1.5em,
    x_large:2.5em,
    largest:4em);
$fontprop:(ft__b:600);

body {
    display: flex;
    flex-direction: column;
}

.hotel {

    background: url("/Assets/Project3_assets/santa-monica-proper-hotel-bed.jpg") center center no-repeat fixed;

    #hotel__nav {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0em 1em;

        #nav__left {
            font-weight: map-get($fontprop, ft__b);

            p {
                font-family: map-get($font__lato, L_regular);
                color: map-get($colors, primary);
            }

            span {
                color: map-get($colors, secondary);
            }
        }

        #nav__right {
            list-style-type: none;
            display: flex;
            flex-direction: row;

            li {
                #reg {
                    font-family: map-get($font__lato, L_regular);
                    color: map-get($colors, primary);
                    font-size: map-get($fontsizes, caption);
                    opacity: 0.9;
                    text-decoration: none;
                    display: flex;
                    justify-content: space-evenly;
                }
            }
        }
    }

    #hotel__hero {
        margin: 0em 10em;
        text-align: center;

        h1 {
            font-family: map-get($font__lato, L_bold);
            color: map-get($colors, primary);
            font-size: map-get($fontsizes, largest);
            padding-bottom: 0em;
        }

        h4 {
            font-family: map-get($font__lato, L_bold);
            color: map-get($colors, primary);
        }

        #input__addr {
            padding: 1em;
            width: 30%;
            font-family: map-get($font__lato, L_regular);
            font-weight: map-get($fontprop, ft__b);
        }

        #input__day {
            padding: 1em;
            width: 30%;
            font-family: map-get($font__lato, L_regular);
            font-weight: map-get($fontprop, ft__b);
            opacity: 0.7;
        }

        #input__sub {
            font-family: map-get($font__lato, L_regular);
            padding: 1em 2em;
            color: map-get($colors, primary);
            font-weight: map-get($fontprop, ft__b);
            border: none 2px map-get($colors, secondary);
            background-color: map-get($colors, secondary);
        }

        #input__sub:hover {
            font-family: map-get($font__lato, L_regular);
            padding: 1em 2em;
            color: map-get($colors, secondary);
            font-weight: map-get($fontprop, ft__b);
            border: none 2px map-get($colors, secondary);
            background-color: map-get($colors, primary);
        }

        #hero__policy {
            h4 {
                margin-bottom: 6em;
                font-family: map-get($font__lato, L_regular);
                font-size: map-get($fontsizes, caption);
                color: map-get($colors, primary);
                display: inline-block;

                a {
                    font-family: map-get($font__lato, L_regular);
                    font-size: map-get($fontsizes, caption);
                    color: map-get($colors, primary);
                }
            }
        }
    }

    #hotel__name {
        font-family: map-get($font__lato, L_regular);
        color: map-get($colors, primary);
        opacity: 0.5;
        padding: 0em 1em 1em 1em;
    }
}

.Ocassion {
    background-color: map-get($colors, ocassion__bgc);
    padding: 2em;

    #Ocassion__cards {
        margin: 0em 10em;
        text-align: center;

        h2 {
            font-family: map-get($font__lato, L_bold);
            color: map-get($colors, primary);
            font-size: map-get($fontsizes, x_large);
        }

        #cards {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 3em;

            &__1 {
                border: none 2px;
                width: 15%;
                font-family: map-get($font__lato, L_regular);
                font-weight: map-get($fontprop, ft__b);
                color: map-get($colors, primary);
            }

            &__2 {
                border: none 2px;
                width: 15%;
                font-family: map-get($font__lato, L_regular);
                font-weight: map-get($fontprop, ft__b);
                color: map-get($colors, primary);
            }

            &__3 {
                border: none 2px;
                width: 15%;
                font-family: map-get($font__lato, L_regular);
                font-weight: map-get($fontprop, ft__b);
                color: map-get($colors, primary);
            }

            &__4 {
                border: none 2px;
                width: 15%;
                font-family: map-get($font__lato, L_regular);
                font-weight: map-get($fontprop, ft__b);
                color: map-get($colors, primary);
            }
        }

    }

}

.App {
    background-color: map-get($colors, secondary);
    padding: 2em;
    #App__contain{
        
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0em 10em;
    }

    #App__info {
        

        #info__panel {
            text-align: left;
            color: map-get($colors, primary);
            font-family: map-get($font__lato, L_regular);
            width: 50%;

            h2 {
                font-size: map-get($fontsizes, x_large);
            }

            p {
                font-size: map-get($fontsizes, med);
                opacity: 0.8;
            }

            #app__ratings {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
                color: map-get($colors, primary);

                #apple {

                    font-size: map-get($fontsizes, smol);
                    svg{
                        width: auto;
                    }
                    span {
                        display: flex;
                        flex-wrap: wrap;
                        font-weight: map-get($fontprop, ft__b);
                    }
                }

                #android {
                    svg{
                        width: auto;
                    }
                    span {
                        display: flex;
                        flex-wrap: wrap;
                        font-weight: map-get($fontprop, ft__b);
                    }
                }

            }
        }

    }

    #divider {
        
        margin: 10em 0em;
        hr {
            display: flex;
        flex-direction: column;
            margin: 10em 0em;
            border-color: map-get($colors, btn__color);
        }
    }

    #App__link {
 text-align: center;
            a{
                text-decoration: none;
                font-family: map-get($font__lato , L_regular );
                color: map-get($colors , primary );
                padding: 0.5em 5em;
                background-color: map-get($colors , btn__color );
            }        

    }
}
.News{
    background-color: map-get($colors , articles__bgc );
    #News__Articles{
        margin: 0em 10em;
        h2{
            text-align: center;
            font-family: map-get($font__lato , L_bold );
            font-size: map-get($fontsizes , x_large );
            color: map-get($colors , article_h );
        }
        #Articles{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__NY{
                width: 25%;
                #NY__para{
                    display: flex;
                flex-direction: row;
                margin-bottom: 1em;
                    img{
                        height: 30px;
                    }
                    p{
                        font-family: map-get($font__lato , L_regular );
                        color: map-get($colors , article_txt );
                        font-size: map-get($fontsizes , smol );
                    }
                }
                #NY_img{
                    width: auto;
                    text-align: center;
                }
            }
            &__CNBC{
                width: 25%;
                #CNBC__para{
                    display: flex;
                flex-direction: row;
                margin-bottom: 1em;
                    img{
                        width: auto;
                        height: 30px;
                    }
                    p{
                        font-family: map-get($font__lato , L_regular );
                        color: map-get($colors , article_txt );
                        font-size: map-get($fontsizes , smol );
                    }            
                }
                #CNBC__img{
                    width: auto;
                    text-align: center;
                }
            }
            &__Today{
                width: 25%;
                #Today__para{
                    display: flex;
                flex-direction: row;
                margin-bottom: 1em;
                    img{
                        width: auto;
                        height: 30px;
                    }
                    p{
                        font-family: map-get($font__lato , L_regular );
                        color: map-get($colors , article_txt );
                        font-size: map-get($fontsizes , smol );
                    }            
                }
                #Today__img{
                    width: auto;
                    text-align: center;
                }
            }
        }
        #mag__up{
            border-color: map-get($colors , btn__color );
        }    
        #mag__logos{
            text-align: center;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 0em 15em;
            padding-bottom: 1em;
            img{
                padding-top: 0.5em;
            }
        }
        #mag__down{
            margin-bottom: 4em;
        }
    }
}
.franchize{
    background-color: map-get($colors , ocassion__bgc) ;
    #franchize__loc{
        margin: 0em 10em;
        h2{
            font-family: map-get($font__lato , L_bold );
            font-size: map-get($fontsizes , x_large );
            color: map-get($colors , primary );
        }
        p{
            font-family: map-get($font__lato , L_regular );
            font-size: map-get($fontsizes , med );
            color: map-get($colors , primary );
        }
    }
    #franchize__cities{
        margin: 0em 7em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 3em;
        font-family: map-get($font__lato , L_regular );
        font-size: map-get($fontsizes , caption );
        #li1{
            list-style-type: none;
            color: map-get($colors , primary );
            li{
                padding: 0.7em;
            }
        }
        #li2{
            list-style-type: none;
            color: map-get($colors , primary );
            li{
                padding: 0.7em;
            }
        }
        #li3{
            list-style-type: none;
            color: map-get($colors , primary );
            li{
                padding: 0.7em;
            }
        }
        #li4{
            list-style-type: none;
            color: map-get($colors , primary );
            li{
                padding: 0.7em;
            }
        }
    }
}
.footers{
    #parts{
        display: flex;
        flex-direction: row;
        &__1{
            background-color: map-get($colors , secondary );
            color: map-get($colors , primary );
            padding: 10em;
            width: 25%;
            text-align: center;
            h2{
                text-align: left;
                font-family: map-get($font__lato , L_bold );
                font-size: map-get($fontsizes , x_large );
            }
            #dwld__btn{
                display: flex;
                flex-direction: row;
                #btn1{
                    margin-right: 1em;
                }
            }
        }
        &__2{
            background-color: map-get($colors , primary );
            color: map-get($colors , primary );
            padding: 10em;
            margin-left: 5em;
            width: 25%;
            text-align: left;
            list-style-type: none;
            li{
                padding: 0.5em 0em;
                a{
                    text-decoration: none;
                    font-family: map-get($font__lato , L_regular );
                    color: map-get($colors , footer__txt );
                }
            }
            p{
                margin-left: 2.5em ;
                font-family: map-get($font__lato , L_regular );
                font-size: map-get($fontsizes , caption );
                    color: map-get($colors , footer__txt );
            }
            #soc__li{
                margin:0em 2.5em;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                opacity: 0.5;
            }
        }
        
    }
    #parts__3{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin:0em 5em;
        p {
            font-family: map-get($font__lato, L_regular);
            color: map-get($colors, footer__txt);
        }

        span {
            color: map-get($colors, secondary);
        }           
    }
}